[Unit]
Description=Mastercoin's distributed currency daemon
After=network.target

[Service]
User=mastercoincore
Group=mastercoincore

Type=forking
PIDFile=/var/lib/mastercoind/mastercoind.pid
ExecStart=/usr/bin/mastercoind -daemon -pid=/var/lib/mastercoind/mastercoind.pid \
-conf=/etc/mastercoincore/mastercoin.conf -datadir=/var/lib/mastercoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
